.FeaturedGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0% 10em;
  text-align: justify;
  /* text-justify: distribute-all-lines; */
}

.FeaturedGame > h1.title.feature-title {
  font-size: 32px;
}

iframe {
  border: 4px solid white;
  background-color: #E7EEFF55;
}