.FeaturedGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0% 10em;
  text-align: justify;
  /* text-justify: distribute-all-lines; */
}

iframe {
  border: 4px solid white;
  background-color: #E7EEFF55;
}