.GameCard {
  /* margin: 0.5em; */
  padding: 0.5em;
  border-radius: 4px;
  background-color: #452c38;
  display: flex;
  flex-grow: 1;
  color: rgb(255, 219, 91);
  align-items: stretch;
}

@media screen and (max-width: 1023px) {
  .GameCard {
    flex-direction: column;
    align-items: stretch;
  }
}
@media screen and (min-width: 1920px) {
  .GameCard {
    width: 720px;
    flex-shrink: 1;
  }
}

.cover {
  flex-shrink: 3;
  margin: auto;
  border-radius: 5px;
  border: 2px solid #ffdb5b77;
  object-fit: scale-down;
}

header {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  text-align: left;
}

header>h1 {
  margin: 0%;
  flex: 3;
  font-size: 32px;
}

header>h4 {
  margin: 0%;
  flex: 2;
  font-size: 24px;
  text-align: right;
}

/* footer {
  margin-bottom: 1em;
} */

.description {
  font-size: 24px;
}

.game-info {
  flex-grow: 4;
  margin: 0.5em;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}