.GameList {
  margin: 1em 15vw;
}

.game-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;  
  gap: 0.5em;
}

h1 {
  color: #ffdb5b;
  font-size: 48px;
  margin: 0%;
}