.Hero {
  overflow: hidden;
  position: relative;
  height: 30vh;
  min-height: 256px;
  background-color: #080312;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15vw;
}

.hero-bg {
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  object-fit: cover;
}

.logo {
  position: relative;
  max-height: 50%;
}

.tagline {
  position: relative;
  color: #ffdb5b;
  font-size: 20px;
  text-align: justify;
}